.button {
    color: var(--text-color-secondary);
    width: 200px;
    height: 50px;
    background-color: var(--button-bg-primary);
    cursor: pointer;
    border-radius: var(--border-size-radius);
    transition: background-color 0.5s, border-color 0.5s;
    border: 0;
}

.button:hover,
.button:active {
    background-color: var(--button-bg-primary-hover);
}

.button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--button-bg-primary-disabled);
}

.button__text {
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: var(--white);
}

.button:disabled .button__text {
    opacity: 0.5;
}

.button_variant_secondary {
    background-color: var(--button-bg-secondary);
}

.button_variant_secondary:hover,
.button_variant_secondary:active {
    background-color: var(--button-bg-secondary-hover);
}

.button_variant_secondary:disabled {
    background-color: var(--button-bg-secondary-disabled);
}

.button_variant_alternate {
    background-color: var(--button-alternate-bg);
    border: 1px solid var(--grey-3);
}

.button_variant_alternate .button__text {
    color: var(--black);
}

.button_variant_alternate:hover,
.button_variant_alternate:active {
    background-color: var(--button-alternate-bg);
    border-color: var(--grey-4);
}

.button_variant_alternate:disabled {
    background-color: var(--button-alternate-bg-disabled);
    border-color: var(--grey-2);
}

.button_variant_alternate:disabled .button__text {
    opacity: initial;
    color: var(--grey-2);
}