.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.accordion__item {
    background-color: var(--bg-primary);
    border-radius: var(--border-size-radius);
    border: 1px solid var(--border-color);
    padding: var(--padding-size-s);
    position: relative;
}

.accordion__title {
    display: flex;
    align-items: center;
    color: var(--text-color-secondary);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.accordion__title::marker {
    display: none;
}

.accordion__title::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 10px;
    right: 20px;
    transition: transform 0.3s;
    background: url('../../assets/images/icons/arrow.svg') no-repeat center;
}

.accordion__item[open] .accordion__title::before {
    transform: rotate(-180deg);
}

.accordion__title::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.accordion__text {
    padding: var(--padding-size-s);
}